@model Book

<div class="card">
	<div class="row">
		<div class="col-md-3">
			<img src="/book/@Model.ImageUrl" class="card-img" />
		</div>
		<div class="col-md-9">
			<div class="card-body">

				<a href="@Url.Action("AuthorDetails", "Author", new { id = ViewData["AuthorId"] } )" class="custom-link">@ViewData["AuthorFullName"]</a>
				<h4 class="card-title">@Model.Title</h4>
				<h6 class="card-title">@Model.Publisher</h6>
				<p>Page Count: <span>(@Model.PageCount)</span></p>
				<p class="card-text">@Html.Raw(Model.Description)</p>
				<a href="@Url.Action("Activate", "UserBook", new { id = Model.BookId })" class="btn btn-outline-primary">Review</a>
			</div>
		</div>
	</div>
</div>

<style>
	.custom-link {
		font-size: 22px;
	}
</style>