@model UserProfileViewModel

@{
	ViewData["Title"] = "Profile -";
}

<div class="container">
	@*ALERT*@
	<div id="successMessageContainer"></div>
	<div id="errorMessageContainer"></div>
	@if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
	{
		<div id="successAlert" class="alert alert-success alert-dismissible fade show" role="alert">
			@TempData["SuccessMessage"]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}
	@if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
	{
		<div id="errorAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
			@TempData["ErrorMessage"]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}
	@*ALERT*@
	<h1>Profile</h1>
	<hr />
	<div class="row">
		<div class="col-md-6">
			<h3>User Information</h3>
			<hr />
			<div class="book-container">
				<div class="d-flex align-items-start">
					<div>
						<img src="/users/@Model.ImageUrl" alt="Profil Resmi" class="img-fluid img-profile">
					</div>
					<div style="margin-left: 20px;">
						<a href="/Account/ProfileUpdate" class="btn btn-outline-warning btn-md"><i class="bi bi-pencil-square"></i> Change Photo</a>
					</div>
				</div>
				<p></p>
				<div class="book-container">
					<p><strong>FullName :</strong> @Model.FullName</p>
					<p><strong>UserName :</strong> @Model.UserName</p>
					<p><strong>Email :</strong> <a href="mailto:@Model.Email">@Model.Email</a></p>
				</div>
			</div>
		</div>
		<br />
		<div class="col-md-6">
			<h3>Book Owned</h3>
			<hr />
			<div class="book-container">
				@if (Model.UserBooks != null && Model.UserBooks.Any())
				{
					<ul>
						@foreach (var userBook in Model.UserBooks)
						{
							<li>
								<img src="/book/@userBook.BookImageUrl" alt="@userBook.BookTitle" class="img-thumbnail  img-book">
								<h4>@userBook.BookTitle</h4>
								<p><strong>Publisher:</strong> @userBook.BookPublisher</p>
								<div class="d-flex justify-content-end">
									<div style="display: flex;">
										<div style="margin-right: 10px;">
											<a href="/Comments/CommentCreate" class="btn btn-outline-info btn-md" style="width: 120px;"><i class="bi bi-chat-dots"></i> Comment</a>
										</div>
										<form method="post" asp-controller="UserBook" asp-action="Deliver" asp-route-bookId="@userBook.BookId" style="margin: 0;">
											<button type="submit" class="btn btn-outline-danger btn-md" style="width: 120px;"><i class="bi bi-bookmark-x-fill"></i> Deliver</button>
										</form>
									</div>
								</div>
							</li>
						}
					</ul>
				}
				else
				{
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<strong>You haven't added any books yet!</strong> You can browse the book area.
					</div>
				}
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		// Başarılı mesajın kapatılması için
		$("#successAlert .btn-close").click(function () {
			$("#successAlert").alert('close');
		});

		// Hata mesajının kapatılması için
		$("#errorAlert .btn-close").click(function () {
			$("#errorAlert").alert('close');
		});
	});
</script>
