<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] BookWeb - Digital Library</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha384-bzT+8eZT4y1FC+EmGm8AioK0zvo2qx/4PcXxZtUPa7UZwXddau+nJGK4zlwQco6+" crossorigin="anonymous"></script>


	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/BookWeb.styles.css" asp-append-version="true" />
	@*Sekme için logo ekledim*@
	<link rel="icon" href="~/img/logo.png" type="image/png">
</head>
<body>
	@RenderSection("message", false)
	<header>
		@await Html.PartialAsync("_navbar")
		@*-- Jumbotron alanı --*@
		@RenderSection("header", false)
	</header>

	<div class="container mt-3">
		@*menu section kullandığımız takdirde sayfa kolonlarını 3e9 böldük ve 9 kolonuna renderbody ekliyoruz*@
		@if (IsSectionDefined("menu"))
		{
			<div class="row">
				<div class="col-md-3">
					@* @await Html.PartialAsync("_menu") koşulunu kullanmaya gerek kalmadı *@
					@RenderSection("menu", false)
				</div>
				<div class="col-md-9">
					@RenderBody()
				</div>
			</div>
		}
		else
		{
			@*eğer menu section kullanmıyorsak renderbody sayfanın tamamını almasını sağladık*@

			<div class="row">
				<div class="col-md-12">
					@RenderBody()
				</div>
			</div>
		}
	</div>
	@if (User.Identity!.IsAuthenticated)
	{
		<footer class="border-top footer text-muted">
			<div class="container">
				&copy; 2024 - BookWeb - <a href="/home/about">About</a>
			</div>
		</footer>
	}

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha384-bzT+8eZT4y1FC+EmGm8AioK0zvo2qx/4PcXxZtUPa7UZwXddau+nJGK4zlwQco6+" crossorigin="anonymous"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

	<script>
		$(document).ready(function () {
			// Başarılı mesajın kapatılması için
			$("#successAlert .btn-close").click(function () {
				$("#successAlert").alert('close');
			});

			// Hata mesajının kapatılması için
			$("#errorAlert .btn-close").click(function () {
				$("#errorAlert").alert('close');
			});
		});
	</script>

</body>
</html>
